/* Empty. Add your own CSS if you like */
.botones{
	margin:5px;
	width: 80px;
	height: 80px;
	font-size: 40px;
	font-weight: 10px; 
}
input[type="text"]:disabled{
	background-color:white;
}
.error{
	background-color:red; 
}
input{
	width: 115px !important;
}
.inputs{
	font-size: 20px;
}
.padding{
	padding-left:10%;
}
.radios{
	width: 50%;
	font-size: 10px;
}
.input-validate{
	margin-left:100px;
}

.input-validate.ng-invalid {
	border:2px solid #ef473a;
}
.input-validate.ng-valid {
	border:2px solid #33cd5f;
}